# Database Configuration
DB_USER=uog_user
DB_PASSWORD=uog_password
DB_NAME=uog_db

# Django Configuration
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# React Configuration
REACT_APP_API_URL=http://localhost:8000/api
